*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Cloudy.svg");
    background-size:auto;
    background-repeat: no-repeat;
    color:#ededed !important;
    font-family: sans-serif;
}
h1, form, .row{
    text-align: center;
}
form{
    margin:20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group{
    width:600px !important;
}
input{
    height:48px;
}
#searchBtn{
    background-color: #0d6efd;
    color:#fff; 
    padding:0 24px;
}
.row{
    margin:20px auto;
}
p{
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .input-group{
        margin:auto 24px;
    }
    input {
        height:36px;
    }
    p{
        font-size: 1rem;
    }
  }